body {
     background-color: #303030;
     font-family: Arial, sans-serif;
     text-align: center;
}
 .logo {
     position: absolute;
     top: 0;
     left: 0;
     margin-top: 1.6%;
     margin-left: 40.2%;
     width: 40px;
     height: 40px;
     border-radius: 20px;
     animation: logo-spin 2s infinite linear;
}
 @keyframes logo-spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 h1{
     text-align: center;
     color: #336699;
     position: absolute;
     top:0%;
     margin-top: 1.7%;
     margin-left: 43.2%;
}
 form {
     margin-top: 7%;
     margin-left: 33%;
     border: 1px solid #ccc;
     padding: 1%;
     text-align: left;
     width: 30%;
     border-radius: 5%;
}
 input[type=text], input[type=password] {
     width: 100%;
     padding: 3%;
     margin: 1.8%;
     margin-left: 0;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 1%;
}
 input[type=submit] {
     background-color: #336699;
     color: #fff;
     padding: 3.4% 5%;
     margin: 1.8%;
     margin-left: 40%;
     border: none;
     border-radius: 3%;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #2e5c8a;
}
 a {
     color: #336699;
     text-decoration: none;
}
 .flash-success {
     list-style: none;
     border: 1px solid #ccc;
     border-radius: 10px;
     background-color: #32de84;
     color: white;
     padding: 0.7%;
     position: fixed;
     top: 11%;
     right: 37%;
     width: 25%;
     z-index: 9999;
     opacity: 0;
     animation: showFlash 4s ease-in-out forwards;
}
 .flash-error{
     list-style: none;
     border: 1px solid #ccc;
     border-radius: 10px;
     background-color: #ff8080;
     color: white;
     padding: 0.7%;
     position: fixed;
     top: 11%;
     right: 37%;
     width: 25%;
     z-index: 9999;
     opacity: 0;
     animation: showFlash 4s ease-in-out forwards;
}
 @keyframes showFlash {
     0% {
         opacity: 0;
    }
     10% {
         opacity: 1;
    }
     90% {
         opacity: 1;
    }
     100% {
         opacity: 0;
    }
}
 