body {
    background-color: #F2F2F2;
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
}

@media only screen and (min-width: 600px) {
    /* Styles for screens wider than 600px (computers) */
    form {
        margin-top: 6%;
        margin-left: 27%;
        max-width: 620px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        text-align: left;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 1.6%;
        margin-left: 40.5%;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        animation: logo-spin 2s infinite linear;
    }

    @keyframes logo-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    h1 {
        text-align: center;
        color: #336699;
        position: absolute;
        top: 0%;
        margin-top: 1.7%;
        margin-left: 43.5%;
    }

    #register-name {
        width: 595px;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    #register-user-name {
        width: 595px;
        display: block;
        margin-left: 10px;
        margin-bottom: 0px;
    }

    #register-email {
        width: 595px;
        display: block;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    #register-favorite-number {
        width: 595px;
        display: block;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    #register-password {
        width: 290px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #register-confirm-password {
        width: 290px;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #336699;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 200px;
        margin-top: 5px;
    }

    input[type="submit"]:hover {
        background-color: #2e5c8a;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
        color: black;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
    }

    .button:hover {
        background-color: #3e8e41;
    }

    a {
        color: #336699;
        text-decoration: none;
    }

    .form-group {
        display: inline-block;
        margin-right: 10px;
    }

    .submit {
        margin-left: 55px;
        margin-bottom: 10px;
    }

    .footer {
        width: 100%;
        text-align: center;
        color: #336699;
        font-size: 18px;
    }

    .flash-success {
        list-style: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #32de84;
        color: white;
        padding: 10px;
        position: fixed;
        top: 65px;
        right: 37%;
        width: 25%;
        z-index: 9999;
        opacity: 0;
        animation: showFlash 4s ease-in-out forwards;
    }

    .flash-error {
        list-style: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #ff8080;
        color: white;
        padding: 10px;
        position: fixed;
        top: 65px;
        right: 37%;
        width: 25%;
        z-index: 9999;
        opacity: 0;
        animation: showFlash 4s ease-in-out forwards;
    }

    @keyframes showFlash {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    #username-message {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 600px) {
    /* Styles for screens up to 600px wide (mobile devices) */
    form {
        margin-top: 25%;
        margin-left: 9%;
        max-width: 75%;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        text-align: left;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 2%;
        margin-left: 1.5%;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        animation: logo-spin 2s infinite linear;
    }

    @keyframes logo-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    h1 {
        text-align: center;
        color: #336699;
        position: absolute;
        top: 0%;
        margin-top: 2.5%;
        margin-left: 10%;
        font-size: 30px;
    }

    #register-name {
        width: 280px;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    #register-user-name {
        width: 280px;
        display: block;
        margin-left: 10px;
    }

    #register-email {
        width: 280px;
        display: block;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    #register-favorite-number {
        width: 280px;
        display: block;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    #register-password {
        width: 280px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #register-confirm-password {
        width: 280px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #336699;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 35%;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    input[type="submit"]:hover {
        background-color: #2e5c8a;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
        color: black;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
    }

    .button:hover {
        background-color: #3e8e41;
    }

    a {
        color: #336699;
        text-decoration: none;
    }

    .form-group {
        display: inline-block;
        margin-right: 10px;
    }

    .footer {
        width: 100%;
        text-align: center;
        color: #336699;
    }

    .flash-success {
        list-style: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #32de84;
        color: white;
        padding: 1%;
        position: fixed;
        top: 5%;
        right: 30%;
        width: 35%;
        z-index: 9999;
        opacity: 0;
        animation: showFlash 4s ease-in-out forwards;
    }

    .flash-error {
        list-style: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #ff8080;
        color: white;
        padding: 1%;
        position: fixed;
        top: 5%;
        right: 30%;
        width: 35%;
        z-index: 9999;
        opacity: 0;
        animation: showFlash 4s ease-in-out forwards;
    }

    @keyframes showFlash {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    #username-message {
        margin-left: 10px;
    }
}
