body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

a {
   color: #4CAF50;
   text-decoration: none;
   font-weight: bold;
}


a:hover {
   text-decoration: underline;
}

h2 {

    margin: 0;
margin-top: 70px;
    padding: 20px;
    background-color: #336699;
    color: white;
    text-align: center;
}

h3{
margin-left: 140px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

textarea {
    width: 80%;
    height: 150px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #336699;
    color: white;
    cursor: pointer;
}
button:hover{
     background-color: #2e5c8a;
}

#summerize_text{
     margin-top:8px;
    margin-left:8px;
    font-size: 14px;

}

  .summarize-container {
                border: 1px solid black;
                width: 80%;
                height: 150px;
                padding: 10px;
                font-size: 18px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f9f9f9;
                margin-left: 140px;
                margin-bottom: 110px;
                overflow: auto;
            }

            .summarize-count {
                font-size: 14px;
                margin-bottom: 10px;
                margin-left: 140px;
            }

            .count {
                font-size: 14px;
		margin-top: 10px;
		margin-left: 140px;
                margin-bottom: 5px;
            }

.logo {
     position: absolute;
     top: 0;
     left: 0;
     margin-top: 10px;
     margin-left:10px;
     width: 40px;
     height: 40px;
     border-radius: 20px;
     animation: logo-spin 2s infinite linear;
}
 @keyframes logo-spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 h1{
     text-align: center;
     color: #336699;
     position: absolute;
     top:0%;
     margin-top: 10px;
     margin-left: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #111;
    color: #ccc;
    font-size: 14px;
    animation: slideInUp 1s ease-in-out;
}

::-webkit-scrollbar {
    width: 0px;
}
@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer a {
    color: #4CAF50;
}