h2{
margin-top:-5px; 
font-size: 30px;
text-align: center;
}
        .board {
            display: flex;
            flex-wrap: wrap;
            width: 400px;
            margin-left: 450px;
        }

        .cell {
            width: 100px;
            height: 80px;
            text-align: center;
            line-height: 100px;
            font-size: 40px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            cursor: pointer;
        }
        .sequence {
            white-space: nowrap;
            margin-top: -10px;
            margin-bottom: 0px;
        }
.brick_breaker{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     list-style: none;
     padding: 15px;
     margin-top: 65px;
     margin-left: 65px;
     border-radius: 20px;
     background-color: #f8f8f8;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     transition: transform 0.3s ease-in-out;
     width: 90%;
     font-size: 20px;
}

.guess{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     list-style: none;
     padding: 15px;
     margin-top: 30px;
     margin-left: 65px;
     border-radius: 20px;
     background-color: #f8f8f8;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     transition: transform 0.3s ease-in-out;
     width: 90%;
     font-size: 20px;
}

.rps{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     list-style: none;
     padding: 15px;
     margin-top: 30px;
     margin-left: 65px;
     border-radius: 20px;
     background-color: #f8f8f8;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     transition: transform 0.3s ease-in-out;
     width: 90%;
     font-size: 20px;
}

.tictac{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     list-style: none;
     padding: 15px;
     margin-top: 30px;
     margin-left: 65px;
     border-radius: 20px;
     background-color: #f8f8f8;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     transition: transform 0.3s ease-in-out;
     width: 90%;
     font-size: 20px;
}

.palindrome{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     list-style: none;
     padding: 15px;
     margin-top: 30px;
     margin-left: 65px;
     border-radius: 20px;
     background-color: #f8f8f8;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     transition: transform 0.3s ease-in-out;
     width: 90%;
     font-size: 20px;
}

.fibo{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     list-style: none;
     padding: 15px;
     margin-top: 30px;
     margin-left: 65px;
     margin-bottom: 50px;
     border-radius: 20px;
     background-color: #f8f8f8;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     transition: transform 0.3s ease-in-out;
     width: 90%;
     font-size: 20px;
}
   
h1{
     text-align: center;
     color: #336699;
     position: absolute;
     top:0%;
     margin-top: 10px;
     margin-left: 50px;
}
 .logo {
     position: absolute;
     top: 0;
     left: 0;
     margin-top: 10px;
     margin-left:10px;
     width: 40px;
     height: 40px;
     border-radius: 20px;
     animation: logo-spin 2s infinite linear;
}
 @keyframes logo-spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
} 


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #111;
    color: #ccc;
    font-size: 14px;
    animation: slideInUp 1s ease-in-out;
}

::-webkit-scrollbar {
    width: 0px;
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.footer p{
margin-top: 10px;
}
.footer a {
    color: #4CAF50;
}