<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-reset-password.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="text-center">
        <a href="{{ url_for('login') }}">
            <img class="logo" src="{{ url_for('static', filename='logo/logo.jpg') }}" alt="Logo" />
            <h1>ZisCricCounter</h1>
        </a>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %} {{ message }} {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <form method="POST" onsubmit="return validateForm();">
            {{ form.csrf_token }}
            <p>
                {{ form.user_name.label }}<br />
                {{ form.user_name(class="form-control", placeholder="Enter your username") }}
            </p>
            <p>
                {{ form.favorite_numbers.label }}<br />
                {{ form.favorite_numbers(class="form-control", placeholder="Enter your favorite number", maxlength="9", oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);") }}
            </p>

            <p>
                {{ form.new_password.label }}<br />
                {{ form.new_password(class="form-control", placeholder="Enter your new password") }}
            </p>
            <p>
                {{ form.confirm_password.label }}<br />
                {{ form.confirm_password(class="form-control", placeholder="Confirm your new password") }}
                <span id="password-mismatch" style="color: red; display: none;">Passwords must match</span>
            </p>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
        <p>Remember your password? <a href="{{ url_for('login') }}">Log in</a></p>
    </div>

    <footer id="footer" class="footer">
        <p>&copy; 2023 ZisCricCounter. All Rights Reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/js-reset-password.js') }}"></script>
</body>

</html>
